#index-title {
  margin-top: 100px;
  font: normal 400 80px/200px Georgia;
  text-align: center;
}

/* 推荐栏 */
#recommendBox {
  position: relative;
  margin: 20px auto;
  width: 1000px;
  display: flex;
}

#recommend-wrapper {
  float: left;
  width: 700px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.recommend-menu-wrapper {
  height: 20px;
  margin-bottom: 10px;
}
.recommend-menu-item {
  float: left;
  margin: 0 12px;
  height: 24px;
  font: 14px/24px Arial,sans-serif;
  color: rgb(94, 94, 94);
  cursor: pointer;
}
.recommend-menu-item-selected {
  border-bottom: 2px #80a492 solid;
  color: black !important;
}

/* 我的 */
#my-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.my-item {
  display: inline-flex;
  width: 112px;
  height: 112px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}
.my-item:hover {
  background-color: rgb(232, 232, 233);
  color: black;
}
.my-icon {
  margin-top: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(253, 253, 253);
  overflow: hidden;
}
.my-icon img {
  width: 24px;
  height: 24px;
  margin: auto;
}
.my-title {
  width: 104px;
  padding: 2px 8px;
  align-items: center;
}
.my-title span{
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}


/* 推荐 */
.article-item {
  box-sizing: border-box;
  padding: 20px;
  height: 160px;
  width: 100%;
}
.article-item-title {
  font: normal 700 20px/20px Microsoft YaHei;
}

.aiticle-item-user {
  font: normal 400 18px/30px Microsoft YaHei;

}
.aiticle-item-user-icon {
  float: left;
}
.aiticle-item-user-name {
  float: left;
}



#right-wrapper {
  position: sticky;
  top: 50px;
  right: 0;
  width: 300px;
  height: 700px;
}
#hot-wrapper {
  box-sizing: border-box;
}
.hot-title {
  float: left;
}
.hot-title-change {
  position: absolute;
  left: 180px;
}
.hot-title-blank {
  height: 30px;
}
.hot-item {
  list-style: none;
}
.hot-rank {
  margin-left: 10px;
}
.hot-rank a {
  text-decoration: none;
  height: 36px;
  line-height: 36px;
  color: black;
}
.hot-rank .hot-item-content:hover { 
  text-decoration: underline;
  color: #80a492;
}
.hot-item-index {
  display: inline-block;
  width: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hot-item-content {
  font-size: 16px;
  height: 16px;
  line-height: 36px;
}

#tabbar-wrapper {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 11px;
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.tab-item {
  box-sizing: border-box;
  margin: 4px 5px;
  padding: 8px 12px;
  height: 36px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid rgb(148, 148, 148);
  border-radius: 10px;
}
.tab-more {
  height: 40px;
  width: 120px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #ccc;
}