body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf?t=1666744639617') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-1{color: #d5ebe1;}
.color-2{color: #b1d5c8;}
.color-3{color: #99bcac;}
.color-4{color: #80a492;}



/* 搜索框 */
#searchBox {
  position: relative;
  margin: 0 auto;
  height: 44px;
  width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 22px;
}

.search-submit {
  float: left;
  height: 100%;
}

.search-icon {
  height: 24px;
  width: 24px;
  margin: 10px;
  opacity: 0.5;
}
.search-input {
  display: inline-block;
  width: 80%;
  height: 100%;
  outline: none;
  border: none;
  font: normal 400 18px/18px Arial;
}

#user {
  position: absolute;
  right: 0;
  top: 0;
  margin: 6px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.user-icon {
  box-sizing: border-box;
  margin: 2px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  border: 1px solid #80a492;
}
.user-icon img {
  box-sizing: border-box;
  margin: 3px;
  height: 28px;
  width: 28px;
  border-radius: 14px;
  opacity: 0.8;
}
.user-name {
  margin-left: 4px;
  font-size: 14px;
  font-weight: 100;
  line-height: 14px;
}
.user-name:hover {
  color: #b1d5c8;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #80a492;
}

.hidden {
  display: none;
}


/* 网址列表 */
#web-list-wrapper {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.web-item {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: #80a492 1px solid; */
}
.web-item-title {
  user-select: none;
  font: normal 400 20px/20px Microsoft YaHei;
  /* text-decoration: underline; */
  cursor: pointer;
}
.web-item-content {
  display: flex;
  margin-top: 10px;
  height: 88px;
}
.web-item-icon {
  user-select: none;
  width: 86px;
  height: 86px;
  margin-right: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.web-item-description {
  height: 60px;
  font: normal 400 15px/20px Arial;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.web-item-url {
  height: 28px;
  font: normal 400 15px/15px Arial;
}
.web-item-toolbar {
  position: absolute;
  width: 80px;
  height: 40px;
  border-radius: 24px;
  right: 20px;
  bottom: 0px;
  z-index: 2;
  /* box-shadow: 3px 3px 10px #4a6d5b; */
  display: flex;
}
.web-item-toolbar > div {
  cursor: pointer;
  user-select: none;
  width: 96px;
  display: flex;
  align-items: center;
}
.web-item-toolbar > div > span {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  /* color: #80a492; */
}
.web-item-toolbar svg {
  margin: 4px;
  width: 40px;
  height: 40px;
}
.web-item-toolbar svg:hover {
  color: #80a492;
}




/* media */
@media screen and (max-width: 900px) {
  #searchBox {
    width: 80vw;
  }
  #user {
    left: 0;
    margin-left: 6px;
  }
  #web-list-wrapper {
    width: 80vw;
  }
}
/* @media screen and (min-width: 900px) {
  #web-list-wrapper {
    width: 80vw;
  }
} */